# VFS Automator Pro Environment Variables
GEMINI_API_KEY=AIzaSyBMBoN5zaWZECwz5DivJxZEssK3BQwSnoI
APP_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PROXY_URL=
VFS_EMAIL=
VFS_PASSWORD=
# Postgres connection string (e.g. from Supabase or Neon)
DATABASE_URL=postgresql://neondb_owner:npg_RKk3mahSZ8Cf@ep-little-wildflower-anlfdy67.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

DATABASE_N_DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_RKk3mahSZ8Cf@ep-little-wildflower-anlfdy67.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
